trigger:
  - main

pool:
  vmImage: "windows-latest"

name: $(Build.Reason)_commit-$(Build.SourceVersion)_$(Date:yyyyMMdd_HHmmss)

variables:
  solution: "**/*.sln"
  buildPlatform: "Any CPU"
  buildConfiguration: "Release"
  semVerDate: $(Get-Date -Format yyyyMMdd+HHmmss)
  srcDirectory: "$(System.DefaultWorkingDirectory)/src"

steps:
  - task: NuGetToolInstaller@1

  - task: NuGetCommand@2
    displayName: Restore NuGet packages
    inputs:
      command: "restore"
      restoreSolution: "**/*.sln"
      feedsToUse: "select"

  - task: PowerShell@2
    displayName: Update CSPROJ Files
    inputs:
      filePath: '$(System.DefaultWorkingDirectory)/ci/update-csproj-versions.ps1'
      arguments: '-SrcDirectory $(System.DefaultWorkingDirectory) -BuildId $(Build.BuildId) -InformationalVersionSuffix "$(semVerDate)"'

  - task: PowerShell@2
    displayName: Update Build Number From Version
    inputs:
      filePath: '$(System.DefaultWorkingDirectory)/ci/update-build-number-from-version.ps1'
      arguments: '-PathToCsprojFile $(srcDirectory)/FluentTimeSeries/FluentTimeSeries.csproj'

  - task: DotNetCoreCLI@2
    displayName: Run Unit Tests
    inputs:
      command: 'test'
      projects: '**/*Tests.csproj'
      testRunTitle: 'Unit Tests'

  - task: CopyFiles@2
    displayName: Copy Bin To ArtifactsStagingDirectory
    inputs:
      SourceFolder: "$(System.DefaultWorkingDirectory)"
      Contents: FluentTimeSeries\bin\$(BuildConfiguration)\**
      TargetFolder: "$(Build.ArtifactsStagingDirectory)"

  - task: PublishBuildArtifacts@1
    displayName: Publish Artifacts
    inputs:
      ArtifactName: "drop"
      publishLocation: "Container"
